{
    "extends": "airbnb-base",
    "env": {
        "browser": true
    },
    "rules": {
        "linebrake-style": 0,
        "global-require": 0,
        "linebreak-style": [0, "error", "windows"],
        "no-param-reassign": ["error", { "props": false }]
    }
}